:root {
  --mzk-color-primary: #56D45B;
  --mzk-color-anti-primary: #FF6B67;
  --mzk-color-secondary: #48ABAF;
  --mzk-color-anti-secondary: #FFAD67;

  /* ----------  Background colors  ---------- */

  --mzk-color-bg: #1D1E25;
  --mzk-color-bg-alpha-90: rgba(29, 30, 37, .9);
  --mzk-color-bg-alpha-75: rgba(29, 30, 37, .75);
  --mzk-color-bg-alpha-50: rgba(29, 30, 37, .5);
  --mzk-color-bg-alpha-25: rgba(29, 30, 37, .25);
  --mzk-color-bg-alpha-10: rgba(29, 30, 37, .1);

  --mzk-color-bg-lighter: #3C405D;
  --mzk-color-bg-lighter-alpha-90: rgba(60, 64, 93, .9);
  --mzk-color-bg-lighter-alpha-75: rgba(60, 64, 93, .75);
  --mzk-color-bg-lighter-alpha-50: rgba(60, 64, 93, .5);
  --mzk-color-bg-lighter-alpha-25: rgba(60, 64, 93, .25);
  --mzk-color-bg-lighter-alpha-10: rgba(60, 64, 93, .1);

  --mzk-color-bg-light: #21252B;
  --mzk-color-bg-light-alpha-90: rgba(33, 37, 43, .9);
  --mzk-color-bg-light-alpha-75: rgba(33, 37, 43, .75);
  --mzk-color-bg-light-alpha-50: rgba(33, 37, 43, .5);
  --mzk-color-bg-light-alpha-25: rgba(33, 37, 43, .25);
  --mzk-color-bg-light-alpha-10: rgba(33, 37, 43, .1);

  --mzk-color-bg-dark: #0F1015;
  --mzk-color-bg-dark-alpha-90: rgba(15, 16, 21, .9);
  --mzk-color-bg-dark-alpha-75: rgba(15, 16, 21, .75);
  --mzk-color-bg-dark-alpha-50: rgba(15, 16, 21, .5);
  --mzk-color-bg-dark-alpha-25: rgba(15, 16, 21, .25);
  --mzk-color-bg-dark-alpha-10: rgba(15, 16, 21, .1);

  --mzk-color-bg-darker: #060609;
  --mzk-color-bg-darker-alpha-90: rgba(6, 6, 9, .9);
  --mzk-color-bg-darker-alpha-75: rgba(6, 6, 9, .75);
  --mzk-color-bg-darker-alpha-50: rgba(6, 6, 9, .5);
  --mzk-color-bg-darker-alpha-25: rgba(6, 6, 9, .25);
  --mzk-color-bg-darker-alpha-10: rgba(6, 6, 9, .1);

  --mzk-color-gradient-min: var(--mzk-color-bg-darker);
  --mzk-color-gradient-max: var(--mzk-color-bg-lighter);
  --mzk-color-bg-galaxy: rgba(0, 0, 249, 0.08);

  /* ----------  Text colors  ---------- */

  --mzk-color-text: #E7E9E7;
  --mzk-color-text-alpha-90: rgba(231, 233, 231, .9);
  --mzk-color-text-alpha-75: rgba(231, 233, 231, .75);
  --mzk-color-text-alpha-50: rgba(231, 233, 231, .5);
  --mzk-color-text-alpha-25: rgba(231, 233, 231, .25);
  --mzk-color-text-alpha-10: rgba(231, 233, 231, .1);

  --mzk-color-text-negative: var(--mzk-color-bg);

  --mzk-color-text-lighter: #FFFFFF;
  --mzk-color-text-lighter-alpha-90: rgba(255, 255, 255, .9);
  --mzk-color-text-lighter-alpha-75: rgba(255, 255, 255, .75);
  --mzk-color-text-lighter-alpha-50: rgba(255, 255, 255, .5);
  --mzk-color-text-lighter-alpha-25: rgba(255, 255, 255, .25);
  --mzk-color-text-lighter-alpha-10: rgba(255, 255, 255, .1);

  --mzk-color-text-light: #E3E3FF;
  --mzk-color-text-light-alpha-90: rgba(231, 233, 239, .9);
  --mzk-color-text-light-alpha-75: rgba(231, 233, 239, .75);
  --mzk-color-text-light-alpha-50: rgba(231, 233, 239, .5);
  --mzk-color-text-light-alpha-25: rgba(231, 233, 239, .25);
  --mzk-color-text-light-alpha-10: rgba(231, 233, 239, .1);

  --mzk-color-text-dark: #D4D4EE;
  --mzk-color-text-dark-alpha-90: rgba(212, 212, 238, .9);
  --mzk-color-text-dark-alpha-75: rgba(212, 212, 238, .75);
  --mzk-color-text-dark-alpha-50: rgba(212, 212, 238, .5);
  --mzk-color-text-dark-alpha-25: rgba(212, 212, 238, .25);
  --mzk-color-text-dark-alpha-10: rgba(212, 212, 238, .1);

  --mzk-color-text-darker: #AAAACC;
  --mzk-color-text-darker-alpha-90: rgba(170, 170, 204, .9);
  --mzk-color-text-darker-alpha-75: rgba(170, 170, 204, .75);
  --mzk-color-text-darker-alpha-50: rgba(170, 170, 204, .5);
  --mzk-color-text-darker-alpha-25: rgba(170, 170, 204, .25);
  --mzk-color-text-darker-alpha-10: rgba(170, 170, 204, .1);

  --mzk-color-icons: var(--mzk-color-text-darker);

  --margin: 10px;
}

* {
  box-sizing: border-box;
}

html, body {
  background: var(--mzk-color-bg);
  box-sizing: border-box;
  color: var(--mzk-color-text);
  font-family: SegoeUI, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

.loading-overlay {
  align-items: center;
  background-color: var(--mzk-color-bg-darker-alpha-75);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

/**/

.timelines {
  height: 20%;

  .timeline {
    display: grid;
    grid-template-areas: "align timeline controls";
    grid-template-columns: 1.5rem calc(100% - 3rem) 1.5rem;
    height: 50%;
    width: 100%;

    [class^="timeline-align-"],
    [class^="timeline-controls-"] {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 .1rem;

      img {
        cursor: pointer;
        max-width: .9rem;

        &.selected {
          filter: invert(84%) sepia(10%) saturate(3000%) hue-rotate(64deg) brightness(174%) contrast(88%);
        }

        &.disabled {
          cursor: not-allowed;
          filter: invert(14%) sepia(6%) saturate(120%) hue-rotate(202deg) brightness(52%) contrast(83%);
        }
      }
    }

    [class^="timeline-align-"] {
      grid-area: align;
    }

    .timeline-container {
      grid-area: timeline;
    }

    [class^="timeline-controls-"] {
      grid-area: controls;

      img {
        max-width: .8rem;
      }
    }
  }
}

.controller {
  background: var(--mzk-color-bg-lighter-alpha-50);
  display: flex;
  height: 30%;

  .deck-left,
  .deck-right {
    --infoheight: 18%;
    --waveformheight: 18%;

    height: 100%;
    width: 45%;

    .track-info {
      align-items: center;
      display: flex;
      font-size: .9em;
      height: var(--infoheight);
      padding: 0 10px;

      img {
        height: 90%;
      }

      p {
        margin: 0;
      }

      div {
        margin-left: var(--margin);
      }

      .track-times {
        margin-left: auto; /* Right align times */
        text-align: right;
      }
    }

    .track-waveform-progress-container {
      align-items: center;
      border-top: solid 1px var(--mzk-color-bg-light);
      border-bottom: solid 1px var(--mzk-color-bg-light);
      display: flex;
      height: var(--waveformheight);
      position: relative;

      img {
        cursor: pointer;
        height: .7rem;
        position: absolute;
        right: .3rem;
        top: .3rem;

        &.bottom {
          top: inherit;
          bottom: .3rem;
        }
      }

      .waveform-progress {
        background-color: rgba(127, 127, 127, 0.1);
        border-right: solid 1px red;
        height: 100%;
        left: 0;
        position: absolute;
        width: 0%;
      }

      .waveform {
        height: 100%;
        width: 100%;
      }
    }

    .track-manipulation {
      display: flex;
      height: calc(100% - #{var(--waveformheight)} - var(--infoheight));

      .performance-pad-wrapper {
        height: 100%;
        width: 70%;

        .performance-pad-control {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          height: 2rem;
          width: 100%;

          .pad-control {
            background-color: var(--mzk-color-bg-alpha-25);
            border: solid 3px transparent;
            display: grid;
            grid-gap: 10px;
            margin: 10px;
            padding: 2px 10px;
            text-align: center;

            transition: border .2s;

            &.enabled {
              border: solid 3px var(--mzk-color-primary);
            }

            &.shift-enabled {
              border: solid 3px var(--mzk-color-anti-primary);
            }

            p {
              font-size: .6rem;
              margin: 0;
            }
          }
        }

        .performance-pad {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-gap: 10px;
          height: calc(100% - 2rem);
          padding: 10px;
          width: 100%;

          .pad {
            background-color: var(--mzk-color-bg-alpha-25);
            border: solid 3px transparent;
            cursor: pointer;
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: repeat(2, 1fr);

            transition: border .2s;

            &.enabled {
              border: solid 3px var(--mzk-color-primary);
            }

            &.shift-enabled {
              border: solid 3px var(--mzk-color-anti-primary);
            }

            [class$="hotcue-icon"] {
              background-color: red;
              color: black;
              font-size: .7rem;
              grid-column: 1;
              grid-row: 1;
              height: 1rem;
              margin-left: .3rem;
              margin-top: .3rem;
              padding-top: .1rem;
              text-align: center;
              user-select: none;
              width: 1rem;
            }

            [class$="hotcue-title"] {
              align-self: flex-start;
              font-size: .8rem;
              font-style: italic;
              grid-column: 2;
              grid-row: 1;
              padding-right: .3rem;
              padding-top: .3rem;
              margin: 0;
              overflow: hidden;
              text-align: right;
              text-overflow: ellipsis;
              user-select: none;
              white-space: nowrap;
            }

            [class$="hotcue-value"] {
              align-self: flex-end;
              font-size: .8rem;
              grid-column: 2;
              grid-row: 2;
              padding-bottom: .3rem;
              padding-right: .3rem;
              margin: 0;
              text-align: right;
              user-select: none;
            }
          }
        }
      }

      .track-controls {
        display: flex;
        height: 100%;
        width: 30%;

        .track-main-buttons {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          padding: 10px 0;
          width: 50px;

          img {
            cursor: pointer;
            width: 80%;
            margin-left: auto;
            margin-right: auto;

            &.playing {
              /* Generated with #56D45B, using online converter https://codepen.io/sosuke/pen/Pjoqqp */
              filter: invert(72%) sepia(78%) saturate(412%) hue-rotate(64deg) brightness(149%) contrast(84%);
            }
          }
        }

        .playback-info {
          padding: 10px 0;
          width: calc(100% - 50px);

          .tempo-info {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100% - 50px);
            width: 100%;
          }

          .playback-effects {
            display: flex;
            justify-content: flex-end;
            height: 50px;
            width: 100%;

            &.start-align {
              justify-content: flex-start;
            }

            div[class^="eq"] {
              width: 50px;
            }

            p {
              font-size: .7em;
              margin: 0;
              padding-top: 40px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .mixer {
    border-left: solid 1px var(--mzk-color-bg-light);
    border-right: solid 1px var(--mzk-color-bg-light);
    height: 100%;
    padding-top: 10px;
    width: 10%;

    .tracks-eq-container {
      display: flex;
      height: calc(100% - 45%);
      width: 100%;

      .left, .right {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 25%;

        div[class^="eq"] {
          height: 50px;
          width: 50px;

          p {
            font-size: .7em;
            margin: 0;
            padding-top: 40px;
            text-align: center;
          }
        }
      }

      div[class^="peakmeter-"] {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 25%;

        .peakmeter {
          height: 80%;
          width: 10%;
        }
      }

      div[class^="headphones-"] {
        align-items: center;
        border: solid 1px grey;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        height: 20px;
        justify-content: center;
        margin-top: 10px;
        width: 70%;

        img {
          height: 80%;
        }

        &.enabled {
          border: solid 1px var(--mzk-color-primary);

          img {
            filter: invert(72%) sepia(78%) saturate(412%) hue-rotate(64deg) brightness(149%) contrast(84%);
          }
        }
      }
    }

    .fader-container {
      align-items: center;
      display: grid;
      grid-template-areas: "left right"
                           "crossfader crossfader";
      grid-template-columns: 50% 50%;
      grid-template-rows: 65% 35%;
      height: 45%;
      justify-content: center;

      .fader {
        display: flex;
        height: 100%;
        padding: 5px 0;
        position: relative;
        width: 60%;

        &.left {
          grid-area: left;
          justify-self: flex-end;
          margin-right: 5px;
        }

        &.right {
          grid-area: right;
          justify-self: flex-start;
          margin-left: 5px;
        }

        img {
          width: 100%;
        }

        .fader-progress {
          height: 16px;
          left: 10px;
          position: absolute;
          width: calc(100% - 20px);
        }
      }

      .crossfader-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        grid-area: crossfader;
        height: 100%;

        .crossfader {
          height: 100%;
          position: relative;
          width: max-content;

          img:first-child {
            height: 90%;
          }

          .crossfader-progress {
            height: 100%;
            position: absolute;
            right: calc(50% - 5px);
            top: -2.5px;
          }
        }
      }
    }
  }
}

.playlists {
  color: white;
  height: 50%;

  .playlist-container {
    .playlist-track {
      &.selected {
        background: var(--mzk-color-primary);
        color: black;

        div {
          &::before {
            color: black;
          }

          img {
            filter: invert(100%);
          }
        }
      }

      div {
        float: right;
        padding: 0 .5rem;
        position: relative;

        img {
          cursor: pointer;
          max-height: .8rem;
        }

        &::before {
          color: white;
          font-size: .6rem;
          position: absolute;
          left: -.1rem;
          top: .2rem;
        }

        &:first-child::before {
          content: 'R'; // Float right, so first is last5
        }

        &:last-child::before {
          content: 'L';
        }
      }
    }
  }
}

/* Knob */
:root {
  --size: 38px;
  --ring-radius: 24;
  --knob-gauge: 3;
  --track-border: calc(var(--size) / 20);
  --item-border: calc(var(--size) / 50);
}

.meter-container {
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  margin: 10px;
  border: var(--track-border) solid lightgrey;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
}

.meter-container .dial {
  height: calc(var(--size) / 2) !important;
  width: 0px;
  border: calc(var(--item-border) * 1.5) solid grey;
  background-color: grey;
  transform: rotate(90deg);
  transform-origin: bottom center;
  position: absolute;
  top: calc((var(--size) / 20) * -1 - 3px);
  right: calc(50% - var(--item-border));
  border-radius: calc(var(--size) / 10);
}

.meter-container .pin {
  position: absolute;
  width: calc(var(--size) / 5);
  height: calc(var(--size) / 5);
  background-color: grey;
  border-radius: 50% 0% 50% 50%;
  top: calc(50% - (var(--size) / 10));
  transform-origin: center;
  right: calc(50% - (var(--size) / 10));
  transform: rotate(45deg);
}

progress-ring {
  height: calc(var(--size) + (var(--knob-gauge) * 2px));
  position: absolute;
}

.modal {
  background-color: rgb(31, 33, 39);
  border: 1px solid #0e0f14;
  border-radius: 6px;
  box-shadow:  0 0 1rem 0 rgba(86, 212, 91, .05);
  box-sizing: border-box;
  font-size: .9rem;
  padding: 2.5rem;
  width: max-content;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: .3rem 0;
  }

  label {
    font-style: italic;
  }

  input[type=color] {
    background: 0;
    border: 1px solid transparent;
    padding: 0;
  }

  input[type=text] {
    background: 0;
    border: 1px solid #aaaabe;
    border-radius: 2px;
    color: #aaaabe;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: .2rem;
    width: 70%;
  }

  button {
    background: 0;
    border: 1px solid #aaaabe;
    border-radius: 6px;
    color: #aaaabe;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    padding: .5rem 1rem;

    transition: background-color .2s,
      border .2s,
      box-shadow .2s,
      color .2s;

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(127, 127, 127, .1);
      border: 1px solid #ebebff;
      box-shadow: 0 0 1px #ebebff;
      color: #ebebff;
    }
  }

  .icons {
    margin: 1.5em 0;
  }

  img {
    cursor: pointer;
    height: 1rem;
    margin: 0 .5rem;

    &.selected {
      filter: invert(84%) sepia(10%) saturate(3000%) hue-rotate(64deg) brightness(174%) contrast(88%);
    }
  }

  &.edit-hot-cue {
    input[type=text] {
      text-align: center;
      width: 60%;
    }
  }
}
