.playlist-browser {
  background-color: var(--mzk-color-bg-lighter-alpha-25);
  border-right: solid 1px var(--mzk-color-text-alpha-50);
  font-size: 1.4rem;
  height: 100%;
  width: 15%;

  .playlist-item {
    align-items: center;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    width: 100%;

    img {
      cursor: pointer;
      height: 1.5rem;
      margin-left: auto;
    }
  }

  .new-playlist {
    cursor: pointer;
    padding: 0 1rem;
  }
}

.playlist-container {
  font-size: 1.3rem;
  height: 100%;
  position: relative;
  width: 85%;

  .loading-overlay {
    align-items: center;
    background-color: var(--mzk-color-bg-darker-alpha-75);
    cursor: progress;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    &::before {
      content: '';
      background-color: var(--mzk-color-primary);
      border-radius: 5px;
      height: 3rem;
      left: calc(50% - 1.5rem);
      position: absolute;
      top: 50%;
      width: 3rem;

      animation: rotate-plane 1.2s infinite ease-in-out;
    }

    p {
      position: absolute;
      text-align: center;
      top: 60%;
    }
  }

  .playlist-header {
    align-items: center;
    background-color: var(--mzk-color-bg-lighter-alpha-25);
    border-bottom: solid 1px var(--mzk-color-text-alpha-50);
    display: grid;
    font-size: 1rem;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 60px 50px;
    height: 2rem;
    padding-right: 1rem;
    width: 100%;

    p {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 .4rem;

      &:first-child {
        font-style: italic;
        text-align: center;
      }

      img {
        cursor: pointer;
        height: 1.3rem;
        float: right;
      }
    }
  }

  .playlist-tracks {
    height: calc(100% - 2rem);
    overflow-y: auto;
    width: 100%;

    .playlist-track {
      display: grid;
      grid-template-columns: 30px 1fr 1fr 1fr 1fr 60px 50px;
      height: 1.8rem;

      &:nth-child(odd) {
        background-color: var(--mzk-color-bg-lighter-alpha-10);
      }

      &.selected {
        background: var(--mzk-color-primary);
        color: black;
      }

      p:first-child {
        font-size: .9rem;
        font-style: italic;
        text-align: center;
      }

      p {
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
