* {
  box-sizing: border-box;
}

html, body {
  background: var(--mzk-color-bg);
  box-sizing: border-box;
  color: var(--mzk-color-text);
  font-family: SegoeUI, Helvetica, sans-serif;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  width: 100%;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
  background: var(--mzk-color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--mzk-color-primary);
  border: solid 1px black;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

